body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    background-color: #1a4866;
    padding: 1rem;
}

h1{
    text-transform: uppercase;
    color: #fffcf7;
}

#banner{
    padding: 1rem;
    background-color: #1a486673;
    background-image: url(../img/placeholder.jpg);
}
.knapp{
    display: flex;
    justify-content: center;
    width: 125px;
    background-color: #1a4866;
    padding: 0.5rem;
    border-color: #fffcf7;
    border-radius: 50px;
    border-style: solid;
    text-decoration: none;
    color: #fffcf7;
    margin: 0.5rem;
}

#info-boks{
    h2{
        color: #b97e4a;
    }
}

/* MOBIL */

@media only screen and (max-width:800px){

    .banner-mid{
        display: flex;
        justify-content: center;
    }
}


/* DESKTOP */

@media only screen and (min-width:800px){
    
}











/* 

header{

    background-color: #1a4866;
    display: flex;
    padding: 0.5rem;

        #header-nav{
       display: flex;
       justify-content: end;
       width: 100%;

        ul{
            display: flex;
            gap: 1rem;
            list-style: none;

            a{
                color: white;
                text-decoration: none;
            }
        }
}
} */





/* BJØRN */

/* html,
body {
    background-color: #FFFCF7;
    margin: 0px;
    padding: 0px;
}
.centered_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    padding: 0px 16px 0px 16px;
    border-radius: 8px;
}

.navbar {
    width: 100vw;
    background-color: #1A4866;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_button {
    border: none;
    background-color: transparent;
    color: #FFFCF7;
    font-weight: bold;
    padding: 16px;
}

.navbar_button:hover {
    color: #23CFE0;
    background-color: #374C74;
}

.project_moonlight_header {
    color: black;
    font-weight: 600;
    font-size: 3em;
} */