:root{
    --aquablue: #0f8596;
    --blue: #374c74;
    --darkblue: #1a4866;
    --brown: #652b1b;
    --lightbrown: #b97e4a;
    --white: #fffcf7;
    
}

body, html{
    margin: 0;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* h1{
        text-transform: uppercase;
        width: 100%;
    }

.header{
    height: 50px;
    background-color: var(--darkblue);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;


    image{
        width: 10%
    }
}
 .nav-header{
    display: flex;
    justify-content: end;
        ul{
            display: flex;
            justify-content: end;
            gap: 1rem;
            list-style: none;
            color: var(--white);
        }
    }

#header-logo{
    
    display: flex;
    padding: 1rem;
    width: 50%;

    img{
        width: 35%;
        display: flex;
    }
}

#header-nav{
    display: flex;
    gap: 1rem;
    justify-content: right;
    width: 100%;

    a{
        text-decoration: none;
        color: var(--white);
        text-transform: uppercase;
    }
}

#logo-mainpart{
    background-image: url("../placeholder/PageBackground.png");
    height: 600px;

    img{
        width: 50%;
        padding: 3rem;
    }

    article{
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 0.5rem;
        padding: 1rem;

        button{
            margin: 2rem;
            background-color: var(--darkblue);
            padding: 0.5rem;
            border-radius: 50px;
            width: 250px;
            height: 75px;
            border: 4px solid var(--white);
            font-size: larger;
        }
    }
   
}

#aboutgameStyle{
    display: flex;
    background-color: var(--white);
    color: black;
    font-size: small;
    text-align: left;
    padding: 1rem;
    align-items: center;

    img{
        width: 30%;
    }

    h3{
        color: var(--lightbrown);
        font-size: 2rem;
        width: 65%;
        padding: 1rem;
    }
    
}

#screenshotsStyle{
    background-color: var(--white);
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 1rem;

    img{
        width: 30%;
    }
}

#profile-page{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 2rem;
    background-image: url("../theTeampics/BakgrunnsbildeProfil.png");
    background-size: cover;
    

   

}

.profile-card{
    
    color: var(--white);
    padding-left: 1rem;
    padding-right: 1rem;
    
    

    h3{
        text-transform: capitalize;
        
    }

    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: var(--lightbrown) 10px solid;
    }
}

footer{
    background-color: var(--darkblue);
    padding: 2rem;
    font-size: small;
    
    img{
        width: 20%;
    }
} */
